body {
    font-family: 'Roboto', sans-serif;
    min-width: 250px;
}

.fontsm {
    font-size: 0.9em;
}

.fontm {
    font-size: 1.5em;
}

.fontl {
    font-size: 2em;
}

.container {
    width: 95vw;
   /* border: 1px solid black;
    box-shadow: 0.1em 0.1em;*/
    margin: 2px auto;
    position: relative;

}

.logoImg {
    /* 
    min-width: 100px;
    max-width: 200px; */
    width: 6em;
    height: 6em;
    padding: 0.2em 0.2em;
    border-radius: 25px;


}

.navbarTop {
    display: grid;
    grid-template-columns: 20% auto;
    /* position: fixed;*/
}

nav>ul {
    padding: 0;
    align-self: center;
}


nav>ul>li {
    display: inline-block;
    width: 4em;
    height: 2em;
    text-align: center;
    margin: 0 3em;

}

nav>ul>li>a {
    text-decoration: none;
    color: black;

}

nav>ul>li>a:hover {
    width: 4.2em;
    height: 2.2em;
    transition: ease-in-out all .4s;
    font-weight: bold;
    color: #A77979;
    border-bottom: 0.2em solid #A77979;
}

div.content {
    display: grid;
    height: 100vh;
    width: 95vw;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-auto-rows: minmax(auto, auto);
    gap: 20px;
    margin: 2em auto;

}
.pic{
    background-repeat: no-repeat;
    background-size: cover;
}
.pic1 {
    grid-area: 1/1/4/5;
    background-image: url("../image/ground-ginseng-7523161_1920.jpg");
}

.pic2 {
    grid-area: 1/5/6/9;
    grid-column: span 4;
    background-image: url("../image/flower-7718952_1920.jpg");
   
}

.pic3 {
    grid-area: 4/1/6/3;
    background-image: url("../image/insect-7511200_1920.jpg");
}

.pic4 {
    grid-area: 4/3/6/5;
    background-image: url("../image/sunflowers-7706977_1920.jpg");
}

.pic5 {
    grid-area: 6/1/9/5;
    background-image: url("../image/ground-ginseng-7523161_1920.jpg");
}

.pic6 {
    grid-area: 6/5/9/9;
    background-image: url("../image/cape-leadwort-7482043_1920.jpg");
}